<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app_music"
    tools:ignore="NamespaceTypo">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--        <uses-library
                    android:name="com.google.android.wearable"
                    android:required="true" />

                &lt;!&ndash;
                       Set to true if your app is Standalone, that is, it does not require the handheld
                       app to run.
                &ndash;&gt;
                <meta-data
                    android:name="com.google.android.wearable.standalone"
                    android:value="true" />-->
        <activity android:name=".component.ListThemeMusicActivity" />
        <activity android:name=".component.ListPlayListActivity" />
        <activity
            android:name=".component.ListMusicActivity"
            android:label="@string/title_activity_list_music" />
        <activity
            android:name=".ui.home.playmusic.PlaySongActivity"
            android:usesCleartextTraffic="true" />
        <activity
            android:name=".MusicMainActivity"
            android:label="@string/title_activity_music_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ui.Services.OnClearFromRecentService" />

        <receiver android:name=".ui.Services.NotificationActionService" />
    </application>

</manifest>